yfinance
pandas
numpy
newsapi-python
requests
beautifulsoup4
lxml
nltk
vaderSentiment
wordcloud
scikit-learn
plotly
streamlit
matplotlib
Pillow
PuLP
prophet
joblib
python-dateutil
pytz
